body {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4vh;
    background-color: rgb(7, 0, 24);

    .navbar {

        display: grid;
        grid-auto-flow: column;
        gap: 1vh;
        float: left;
        background-color: brown;
        padding: 1vh;
        border-radius: 1vw;
        height: fit-content;

        .navbar-item-link {

            text-decoration: none;
            text-align: center;
            border-radius: 1vw;
            height: 5vh;
            width: 10vw;
            background-color: red;
            padding: 10px;
            overflow: hidden;

        }

        .navbar-item-image {

            text-decoration: none;
            border-radius: 1vw;
            height: 5vh;
            width: 5vh;
            background-color: red;
            text-align: center;
            padding: 10px;

            img {

                height: 5vh;
                width: 5vh;
                border-radius: 1vw;

            }

        }

        #navbar-item:hover {

            background-color: aqua;

        }

        //

        .navbar-dropdown-item {

            position: relative;
            display: inline-block;

        }

        .navbar-dropdown-item-content {

            display: none;
            position: absolute;
            background-color: blueviolet;
            padding: 10px 20px;
            z-index: 1;

            a {

                display: block;

            }

        }

        .navbar-dropdown-item:hover .navbar-dropdown-item-content {

            display: block;

        }

    }

}