body {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4vh;
    background-color: rgb(7, 0, 24);

    .navbar {

        display: grid;
        grid-auto-flow: column;
        gap: 1vh;
        float: left;
        background-color: brown;
        padding: 1vh;
        border-radius: 1vw;
        height: fit-content;

        .navbar-item-link {

            text-decoration: none;
            text-align: center;
            border-radius: 1vw;
            height: 5vh;
            width: 10vw;
            background-color: red;
            padding: 10px;
            overflow: hidden;
            color: white;

        }

        .navbar-item-image {

            border-radius: 1vw;
            width: calc(5vh + 20px);
            height: calc(5vh + 20px);

            img {

                width: calc(5vh + 20px);
                height: calc(5vh + 20px);
                border-radius: 1vw;

            }

        }

        #navbar-item:hover {

            background-color: rgb(255, 255, 0);
            color: black;

        }

        // DROPDOWN

        .navbar-dropdown-item {

            position: relative;
            display: inline-block;

        }

        .navbar-dropdown-item-content {

            display: none;
            position: absolute;
            background-color: brown;
            padding: 1vh;
            border-radius: 1vw;
            z-index: 1;

            a {

                display: block;
                background-color: red;
                border-radius: 1vw;
                margin-bottom: calc(1vh / 2);
                margin-top: calc(1vh / 2);
                text-decoration: none;
                color: white;

            }

        }

        .navbar-dropdown-item:hover .navbar-dropdown-item-content {

            display: block;

        }

    }

}