body {

    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .navBar {

        width: 100vw;
        height: 5vh;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
        overflow: hidden;

        li {

            background-color: red;
            float: left;

            height: 100%;

            a {
                
                text-align: center;
                text-decoration: none;

            }

            .nav-link {

                padding-inline: 4vh;
                width: 20%;

            }

            .nav-image {

                img {

                    width: 5vh;
                    height: 5vh;

                }

                width: 10vw;

            }

        }

        a:hover {

            background-color: aquamarine;

        }

        .nav-dropdown {

            display: inline-block;

            span:hover {

                background-color: aquamarine;
    
            }

        }

        .nav-dropdown-content {

            display: none;
            position: absolute;
            padding-inline: 0vh;
            z-index: 1;

            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

            .nav-dropdown-link {

                display: block;
                background-color: black;
                color: white;

            }

            a:hover {

                background-color: aquamarine;
    
            }

        }

        .nav-dropdown:hover .nav-dropdown-content {

            display: block;

        }

    }

}