// Variables
:root {

    $sus-expand: scale(2);

}

body {

    background-color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    color: cornflowerblue;
    text-align: center;

}

.bar {

    

}

.image {

    transition: transform 200ms;

    width: 200px;
    height: 200px;

}

.image:hover {

    transform: scale(random(5));

}