// Variables
:root {

    --sus-expand: scale(2);

}

body {

    background-color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    color: cornflowerblue;
    text-align: center;

}

.bar {

    background-color: darkgoldenrod;
    padding: 20px;
    border-radius: 80px;
    
    a {

        text-decoration: none;
        color: darkorchid;
        padding: 20px;
        background-color: #8b0000;
        border-radius: 99px;

        transition: ease-out 250ms;

    }

    a:hover {

        background-color: mediumaquamarine;
        color: midnightblue;
        padding-left: 90px;
        padding-right: 90px;
        
        transition: ease-in 250ms;

    }

}

.image {

    transition: transform 200ms;

    width: 200px;
    height: 200px;

}

.image:hover {

    transform: var(--sus-expand);

}